@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
}



.hero-bg{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.1)),url("/hero.png");
}

.shimmer{
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right,#2c2c2c 4%,#333 25%,#2c2c2c 36%);
    background-size: 1000px 100%;
}
@keyframes shimmer{
    0%{
        background-position: -1000px 0;

    }
    100%{
        background-position: 1000px 0;
    }
}